# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
.venv/
venv/
env/

# Logs
logs/
*.log

# Audio / temp files
temp_recording.wav
*.wav

# VS Code
.vscode/

# OS files
Thumbs.db
.DS_Store